/*//////////////////////////////////////////////////////////////////////////////
Relating to backgrounds, colors, fonts
///////////////////////////////////////////////////////////////////////////////*/


/*--------------------------------------------------
          HEADER (Big Image + "Evette Cheung")
--------------------------------------------------*/

.name {
  font-size: 70px;
  color: white;
}


/*--------------------------------------------------
                   ABOUT ME
--------------------------------------------------*/



/*--------------------------------------------------
                 HAMBURGER MENU
--------------------------------------------------*/

.fa .fa-angle-double-up {
    color: white;
  }



/*--------------------------------------------------
                      NAV BAR
--------------------------------------------------*/

@media only screen and (min-width: 640px) {

  nav {
    background-color: black;
  }

  li {
    font-size: 15px;
  }

  nav a {
    font-size: 30px;
    font-family: Century;
    color: white;
  }

  nav a:link {
    color: white;
    text-decoration: none;
  }

  nav a:visited {
    color: white;
    text-decoration: none;
  }

  nav a:hover {
    color: white;
    text-decoration: none;
  }

  nav a:active {
    color: white;
    text-decoration: none;
  }
}

/*--------------------------------------------------
                    LABS
--------------------------------------------------*/



/*--------------------------------------------------
                    CONTACT
--------------------------------------------------*/



/*--------------------------------------------------
                    FOOTER
--------------------------------------------------*/

footer {
  background-color: black;
}

footer p {
  color: white;
}
