/*--------------------------------------------------
          HEADER (Big Image + "Evette Cheung")
--------------------------------------------------*/

.name {
  font-size: 70px;
  color: white;
  padding-top: 23%;
}


/*--------------------------------------------------
                   ABOUT ME
--------------------------------------------------*/



/*--------------------------------------------------
                 HAMBURGER MENU
--------------------------------------------------*/

.fa .fa-angle-double-up {
    color: white;
  }

/*nav ul {
  display: none;
  list-style: none;
  clear: both;
}*/



/*--------------------------------------------------
                      NAV BAR
--------------------------------------------------*/

@media only screen and (min-width: 640px) {

  nav {
    background-color: black;
  }

  li {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
  }

  nav a {
    font-size: 30px;
    font-family: Century;
    color: white;
  }

  nav a:link {
    color: white;
    text-decoration: none;
  }

  nav a:visited {
    color: white;
    text-decoration: none;
  }

  nav a:hover {
    color: white;
    text-decoration: none;
  }

  nav a:active {
    color: white;
    text-decoration: none;
  }
}

/*--------------------------------------------------
                    LABS
--------------------------------------------------*/

#lab-all img {
  padding-left: 3%;
  padding-right: 3%;
}


/*--------------------------------------------------
                    CONTACT
--------------------------------------------------*/

#contact img {
  padding-left: 3%;
  padding-right: 3%;
}
